.aboutUsPageHeader {
	background: url('../images/aboutUsPageHeader.jpg');
	background-size: cover;
	padding: 8rem;

	.title {
		font-size: 2rem;
		margin-top: 2rem;
	}
	h1 {
		background-size: 2rem;
		font-size: 25px;
		color: white;
	}
	h2 {
		margin: 1rem 0 1rem 0 !important;
		color: white;
		font-size: 20px;
	}
}
.aboutUsText {
	margin-top: 10px;
}
