* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #dfdede;
	width: 100%;
}

@media all and (max-width: 800px) and (min-width: 300px) {
	body {
		background-color: #f1f1f1;
		min-height: 100%;
		min-width: 100%;
	}
}
