.helpPageHeader {
	background: url('../images/helpPageHeader2.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 60px;
	padding-bottom: 60px;

	.title {
		font-size: 2rem;
		margin-top: 2rem;
	}
	h1 {
		background-size: 2rem;
		font-size: 25px;
		color: rgb(5, 5, 5);
	}
	h2 {
		margin: 1rem 0 1rem 0 !important;
		color: rgb(5, 5, 5);
		font-size: 20px;
	}
}

.helpPageBackground1 {
	background: url('../images/helpPageBackground1.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
}

.helpPageBackground2 {
	background: url('../images/helpPageBackground2.jpg') no-repeat center;
	background-size: 70%;
	background-attachment: fixed;
	height: 500px;
}

.helpPageBackground3 {
	background: url('../images/helpPageBackground3.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
}

@media all and (max-width: 800px) and (min-width: 300px) {
	.helpPageBackground2 {
		background: url('../images/helpPageBackground2.jpg') no-repeat center;
		background-size: cover;
		background-attachment: fixed;
		height: 500px;
	}
	.helpPageHeader {
		background: url('../images/helpPageHeader2.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
